apiVersion: v1
kind: Secret
metadata:
  name: tm-global
  namespace: tm
type: Opaque
stringData:
  TM_GLOBAL_DJANGO_INTERNAL_SERVICE_TOKEN: "{{ op://personal-cli/tm-global/TM_GLOBAL_DJANGO_INTERNAL_SERVICE_TOKEN }}"
  TM_GLOBAL_SOCKS5_ADDRESS: "{{ op://personal-cli/tm-global/TM_GLOBAL_SOCKS5_ADDRESS }}"
  TM_GLOBAL_SOCKS5_PORT: "{{ op://personal-cli/tm-global/TM_GLOBAL_SOCKS5_PORT }}"
