apiVersion: v1
kind: Secret
metadata:
  name: tm-django
  namespace: tm
type: Opaque
stringData:
  TM_DJANGO_POSTGRES_DBNAME: "{{ op://personal-cli/tm-django/TM_DJANGO_POSTGRES_DBNAME }}"
  TM_DJANGO_POSTGRES_HOST: "{{ op://personal-cli/tm-django/TM_DJANGO_POSTGRES_HOST }}"
  TM_DJANGO_POSTGRES_PASSWORD: "{{ op://personal-cli/tm-django/TM_DJANGO_POSTGRES_PASSWORD }}"
  TM_DJANGO_POSTGRES_PORT: "{{ op://personal-cli/tm-django/TM_DJANGO_POSTGRES_PORT }}"
  TM_DJANGO_POSTGRES_SSLMODE: "{{ op://personal-cli/tm-django/TM_DJANGO_POSTGRES_SSLMODE }}"
  TM_DJANGO_POSTGRES_USER: "{{ op://personal-cli/tm-django/TM_DJANGO_POSTGRES_USER }}"
  TM_DJANGO_SECRET_KEY: "{{ op://personal-cli/tm-django/TM_DJANGO_SECRET_KEY }}"