apiVersion: v1
kind: Secret
metadata:
  name: jellyfin-tls
  namespace: jellyfin
type: kubernetes.io/tls
data:
  tls.crt: "{{ op://personal-cli/jellyfin/cert-b64 }}"
  tls.key: "{{ op://personal-cli/jellyfin/key-b64 }}"
