apiVersion: v1
kind: Secret
metadata:
  name: job-listing-data-manager-tls
  namespace: job-listing
type: kubernetes.io/tls
data:
  tls.crt: "{{ op://personal-cli/job-listing-data-manager/cert-b64 }}"
  tls.key: "{{ op://personal-cli/job-listing-data-manager/key-b64 }}"
