apiVersion: v1
kind: Secret
metadata:
  name: ghcr
  namespace: job-listing
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "ghcr.io": {
          "username": "REPLACE_WITH_GITHUB_USERNAME",
          "password": "{{ op://personal-cli/github/token }}"
        }
      }
    }
