apiVersion: v1
kind: Secret
metadata:
  name: prometheus-tls
  namespace: observability
type: kubernetes.io/tls
data:
  tls.crt: "{{ op://personal-cli/prometheus/cert-b64 }}"
  tls.key: "{{ op://personal-cli/prometheus/key-b64 }}"
