apiVersion: v1
kind: Secret
metadata:
  name: sc2-data-manager
  namespace: sc2
type: Opaque
stringData:
  SC2_DATA_MANAGER_TOKEN_HASHER_SECRET: "{{ op://personal-cli/sc2-data-manager/token-hasher-secret }}"
  SC2_DATA_MANAGER_USERS_ADMIN_SECRET: "{{ op://personal-cli/sc2-data-manager/users-admin-secret }}"
