apiVersion: v1
kind: Secret
metadata:
  name: ghcr
  namespace: sc2
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "ghcr.io": {
          "username": "coreyMerritt",
          "password": "{{ op://personal-cli/github/token }}"
        }
      }
    }
