apiVersion: v1
kind: Secret
metadata:
  name: sc2-data-manager-tls
  namespace: sc2
type: kubernetes.io/tls
data:
  tls.crt: "{{ op://personal-cli/sc2-data-manager/cert-b64 }}"
  tls.key: "{{ op://personal-cli/sc2-data-manager/key-b64 }}"