apiVersion: v1
kind: Secret
metadata:
  name: secret-configs-trg
type: Opaque
data:
  channels.json: {{ op://personal-cli/trg/channels-base64 }}
stringData:
  TRG_GPU_SERVER_ADDRESS: {{ op://personal-cli/trg/gpu-server-address }}
  TRG_GPU_SERVER_OPERATIONS_PATH: {{ op://personal-cli/trg/gpu-server-operations-path }}
  TRG_GPU_SERVER_USER: {{ op://personal-cli/trg/gpu-server-user }}
  TRG_INITIAL_PROMPT: "{{ op://personal-cli/trg/initial-prompt }}"
  TRG_SOCKS5_ADDRESS: {{ op://personal-cli/trg/socks5-address }}
  TRG_SOCKS5_PORT: "{{ op://personal-cli/trg/socks5-port }}"
