apiVersion: v1
kind: Secret
metadata:
  name: tm-django-tls
  namespace: tm
type: kubernetes.io/tls
data:
  tls.crt: "{{ op://personal-cli/tm-django/cert-b64 }}"
  tls.key: "{{ op://personal-cli/tm-django/key-b64 }}"
