apiVersion: v1
kind: Secret
metadata:
  name: tm-rabbitmq
type: Opaque
stringData:
  RABBITMQ_ERLANG_COOKIE: "{{ op://personal-cli/tm-rabbitmq/TM_RABBITMQ_ERLANG_COOKIE }}"
  RABBITMQ_DEFAULT_USER: "{{ op://personal-cli/tm-rabbitmq/TM_RABBITMQ_USER }}"
  RABBITMQ_DEFAULT_PASS: "{{ op://personal-cli/tm-rabbitmq/TM_RABBITMQ_PASS }}"
