apiVersion: v1
kind: Secret
metadata:
  name: job-listing-data-manager
  namespace: job-listing
type: Opaque
stringData:
  POSTGRES_PASSWORD: "{{ op://personal-cli/job-listing-data-manager/postgres-password }}"
  JLDM_DATABASE_PASSWORD: "{{ op://personal-cli/job-listing-data-manager/postgres-password }}"
  JLDM_TOKEN_HASHER_SECRET: "{{ op://personal-cli/job-listing-data-manager/token-hasher-secret }}"
  JLDM_USERS_ADMIN_SECRET: "{{ op://personal-cli/job-listing-data-manager/users-admin-secret }}"
